<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://lh3.google.com/u/0/d/1RCqgng0BQMbvvKsiwOiJ9fNBKbts7Gv1=w2560-h1352-iv1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">


    <title> how it works </title>

    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" type="text/css" href=/static/bootstrap.min.css>
    <link rel="stylesheet" type="text/css" href="/static/custom.css">

    <!-- Custom styles for this template -->
    <link href="/static/narrow-jumbotron-contact.css" rel="stylesheet">
    <link href="stylesheet" type="stylesheet" href="purple.css">
  </head>

<style type="text/css">
.directory-title {
	color: #000;
	font-family: "Courgette", cursive;
	font-size: 60px;
	text-align: center;
	position: relative;
	margin: 0px 0 0px;
}

.directory-title::after {
	content: ""
	width: 0px;
	position: absolute;
	margin: 0 auto;
	height: 0px;
	border-radius: 1px;
	background: #000;
	left: 0;
	right: 0;
	bottom: 0px;
}

</style>

  <body>

    <div class="container">
      <header class="header clearfix">
        <nav>
	<a href="/"><img src="https://lh3.google.com/u/0/d/1Pu3HZYoZI5rK67EVzBMr5JI3KhQwljlH=w2560-h1352-iv3" alt="logo" align="top"></a>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=howitworks>How It Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=directory>Staff Directory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=submission>Submit</a>
            </li>
          </ul>
        </nav>
      </header>

      <main role="main">

        <div class="jumbotron" style="height:504px">
	  <h2 class="directory-title">How it works</h2>
          <img src="https://lh3.google.com/u/0/d/1RvK53Lzx55IKtblceXoSQLdKfDIAZwwq=w2560-h1352-iv1" align = “right”>
        </div>       

      </main>

      <footer class="footer">
        <p>&copy; wHaCkY!</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
