<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://lh3.google.com/u/0/d/1RCqgng0BQMbvvKsiwOiJ9fNBKbts7Gv1=w2560-h1352-iv1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">


    <title> wellesley thanks </title>

    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" type="text/css" href=/static/bootstrap.min.css>
    <link rel="stylesheet" type="text/css" href="/static/custom.css">

    <!-- Custom styles for this template -->
    <link href="/static/narrow-jumbotron.css" rel="stylesheet">
    <link href="stylesheet" type="stylesheet" href="purple.css">
  </head>

  <body>

    <div class="container">
      <header class="header clearfix">
        <nav>
	<a href="/"><img src="https://lh3.google.com/u/0/d/1Pu3HZYoZI5rK67EVzBMr5JI3KhQwljlH=w2560-h1352-iv3" alt="logo"></a>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=howitworks>How It Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=directory>Staff Directory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=submission>Submit</a>
            </li>
          </ul>
        </nav>
      </header>

      <main role="main">

        <div class="jumbotron" style="height:400px">
          <h1 class="display-3">Express your gratitude!</h1>
          <p class="lead"> Submit a compliment to your favorite staff worker and
          help foster a culture on campus <br> that actively recognizes and appreciates the value of our staff.
 :)</p>
          <p><a class="btn btn-lg purple btn-success" href="submission" role="button">Submit your words</a> <a class="btn btn-lg purple btn-success" href="directory" role="button">Get to know the staff</a></p>
        </div>       

      </main>

      <footer class="footer">
        <p>&copy; wHaCkY!</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
